<div id="modal-share" class="modal">
  <div class="modal-content">
    <h4>Share This :</h4>
    <div class="col m12 share-row">
      
      <a href="http://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target="_blank" class="waves-effect waves-light btn face-btn"><i class="fa fa-facebook fa-2x"></i></a>
                          
      <a href="https://plus.google.com/share?url=<%= request.original_url %>" target="_blank" class="waves-effect waves-light btn google-btn"><i class="fa fa-google-plus fa-2x"></i></a>
      
    </div>
  </div>
</div>