              <div class="row social">
                <ul class="social-list">
                  <li class="facebook row col s12">
                    <div class="col s12">
                      <div class="col s3">
                        <a href="https://www.facebook.com/ViralAndFast"><i class="fa fa-facebook fa-2x"></i></a>
                      </div>
                      <a href="https://www.facebook.com/ViralAndFast"><p class="col s9">Viral and fast</p></a>
                    </div>
                  </li>
                  <li class="linkedIn row  col s12">
                    <div class="col s12">
                      <div class="col s3">
                        <a href="https://www.linkedin.com/company/viral-and-fast"><i class="fa fa-linkedin fa-2x"></i></a>
                      </div>
                      <a href="https://www.linkedin.com/company/viral-and-fast"><p class="col s9">Viral and fast</p></a>
                    </div>
                  </li>
                  <li class="twitter row  col s12">
                    <div class="col s12">
                      <div class="col s3">
                        <a href="https://twitter.com/ViralAndFast"><i class="fa fa-twitter fa-2x"></i></a>
                      </div>
                      <a href="https://twitter.com/ViralAndFast"><p class="col s9">Viral and fast</p></a>
                    </div>
                  </li>
                </ul>
              </div>