<div class="container" style="margin-bottom: 100px;">
	<h2>Edit Post</h2>

	<%= form_for(@post) do |form| %>
		<%= render :partial => "shared/form_post", :locals => {:form => form} %>
	<% end %>
</div>