<div class="container" style="margin-bottom: 100px;">
	<h2>Add New Post</h2>

	<%= form_for(:post, :url => {:action => 'create'}, html: { multipart: true }) do |form| %>
		<%= render :partial => "shared/form_post", :locals => {:form => form} %>
	<% end %>
</div>