<%
  cat_posts = @category.posts.all
  sidebar_posts = Post.all.most_liked
%>

<div class=" row single-header">
  <%= image_tag(@category.image.url, :class => "bg-single food") %>
</div>

<div class="container">
  <div class="row col l12 m12 s12">
    <!-- MAIN CONTENT START -->
    <div class="col l9 m8 s12 main-content">
      <h5 class="h-sec"><i class="small material-icons">play_arrow</i>&nbsp;&nbsp;Hot Articles</h5>
      <div class="row">
          <%if cat_posts.count > 0
            #check if there are more posts
            cat_posts.each do |post|
            post_category = post.categories.first %>

            <%= render(:partial => "shared/default_card", :locals => {:post => post, :post_category => post_category}) %>

            <% end #loop end %>
          <% end #if end %>
      </div>
    </div>
    <!-- MAIN CONTENT END -->

    <!-- SIDEBAR START -->
    <div class="col l3 m4 s12 side-content">
      
      <%= render(:partial => "shared/social_media_sidebar") %>

      <div class="row hotest">
        <h5 class="h-sec"><i class="small material-icons">play_arrow</i>&nbsp;&nbsp;Hotest Articles</h5>

        <%if sidebar_posts.count > 0
          #check if there are more posts
          sidebar_posts.each do |post|
          post_category = post.categories.first %>

          <%= render(:partial => "shared/sidebar_card", :locals => {:post => post, :post_category => post_category}) %>

          <% end #loop end %>
        <% end #if end %>
      </div>

    </div>

    <!-- SIDEBAR END -->

  </div>
</div>